{% extends "base.html" %}
{% block content %}
<header>
  <h1> Update Alert </h1>
  <section class="update-alert-form">
    <form class="" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ alert.name }}" disabled/>
      </div>
      <div class="form-group">
        <label for="item_url">Item URL</label>
        <input type="text" id="item_url" class="form-control" name="item_url" value="{{ alert.item.url }}" disabled>
      </div>
      <div class="form-group">
        <label for="price_limit">Price Limit</label>
        <input type="text" id="price_limit" class="form-control" name="price_limit" placeholder="120" value={{alert.price_limit}} aria-describedby="priceLimitHelp/>
        <smal id="priceLimitHelp" class="form-text text-muted">
          Under which price for the item would you like to get notified?
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </section>
</header>
{% endblock %}
