{% extends "base.html" %}
{% block content %}
<header>
  <h1> Create Item </h1>
  <section class="create-item-form">
    <form class="" method="post">
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" id="url" class="form-control" name="url" placeholder="https://...."/>
      </div>
      <div class="form-group">
        <label for="tag_name">Tag Name</label>
        <input type="text" id="tag_name" class="form-control" name="tag_name" placeholder="span" aria-describedby="tagNameHelp"/>
        <smal id="tagNameHelp" class="form-text text-muted">
          What is the html tag of the item that contains the item price?
        </small>
      </div>
      <div class="form-group">
        <label for="query">Query</label>
        <input type="query" id="url" class="form-control" name="query" placeholder='{"id:":"..."}' aria-describedby="queryHelp"/>
        <small id="queryHelp" class="form-text text-muted">
          What  JSON query would we have to do to find the specific tag with the price?
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </section>
</header>
{% endblock %}
